{% extends 'base.html' %} {% block content %}
<h1>Code Models List</h1>

<div class="row list-group list-group-numbered ps-0">
  {% for code in code_models %}

  <div
    class="btn-group bg-info list-group-item ps-0"
    role="group"
    aria-label="Basic mixed styles example"
  >
    <button type="button" class="btn col">
      <a class="link-dark p-2" href="{% url 'about' code.id %}"
        >{{ code.title }}</a
      >
    </button>
    <button type="button" class="btn btn-success fw-bolder col">
      <a
        class="text-bg-success link-light p-0"
        href="{% url 'update_data' code.id %}"
        >Up</a
      >
    </button>
    <button type="button" class="btn btn-danger fw-bolder col">
      <a class="text-bg-danger p-2" href="{% url 'delete_data' code.id %}"
        >Del</a
      >
    </button>
  </div>
  {% empty %}
  <li>No code models available.</li>
  {% endfor %}
</div>
{% endblock content %}
