{% extends 'base.html' %} {% block content %}

<div class="container">
  <h2>Search Results</h2>

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div
      class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}"
    >
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %} {% if searched %}
  <h3>Results for "{{ searched }}":</h3>
  <ul>
    {% for post in posts %}
    <li>
      {{ post.title }} - {{ post.code_lang.name }} - {{ post.codes }} - {{
      post.type_code.name }}
    </li>
    {% empty %}
    <li>No results found.</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock content %}
